body{
    margin: 0;
}
.btn{
    position: absolute;
right: 20px;
top: 20px;
cursor: pointer;
padding: 5px;
font-size: 20px;
}
.btn1{
    position: absolute;
right: 20px;
top: 80px;
cursor: pointer;
padding: 5px;
font-size: 20px;
}
